In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Audio
sound_file = './sound/beep-01a.wav'

In [2]:
!ls

Commodities_data.csv
Commodities_metadata.csv
Currencies_data.csv
Currencies_metadata.csv
Economic_Indicators_data.csv
Economic_Indicators_metadata.csv
Precious_Metals_data.csv
Precious_Metals_metadata.csv
README.md
dataset-properties.ipynb
sound

In [3]:
# Commodities
commodities_metadata = pd.read_csv('Commodities_metadata.csv')
commodities_data = pd.read_csv('Commodities_data.csv')

In [4]:
commodities_metadata

             Ticker     Commodity             SECURITY_NAME CRNCY QUOTE_UNITS
0       BUT1_Comdty        Butter  Generic 1st 'BUT' Future   EUR      EUR/MT
1   C_1_COMB_Comdty          Corn   Generic 1st 'C ' Future   USD     USd/bu.
2   CC1_COMB_Comdty         Cocoa   Generic 1st 'CC' Future   USD      USD/MT
3   CL1_COMB_Comdty           Oil   Generic 1st 'CL' Future   USD    USD/bbl.
4   HG1_COMB_Comdty        Copper   Generic 1st 'HG' Future   USD     USd/lb.
5        JO1_Comdty  Orange Juice   Generic 1st 'JO' Future   USD     USd/lb.
6        KC2_Comdty        Coffee   Generic 2nd 'KC' Future   USD     USd/lb.
7        LA1_Comdty      Aluminum   Generic 1st 'LA' Future   USD      USD/MT
8   LH1_COMB_Comdty     Lean Pork   Generic 1st 'LH' Future   USD     USd/lb.
9        LN1_Comdty        Nickel   Generic 1st 'LN' Future   USD      USD/MT
10  O_1_COMB_Comdty          Oats   Generic 1st 'O ' Future   USD     USd/bu.
11  RR1_COMB_Comdty          Rice   Generic 1st 'RR' Future   USD     USD/cwt
12  S_1_COMB_Comdty      Soybeans   Generic 1st 'S ' Future   USD     USd/bu.
13       SB1_Comdty         Sugar   Generic 1st 'SB' Future   USD     USd/lb.
14  W_1_COMB_Comdty         Wheat   Generic 1st 'W ' Future   USD     USd/bu.

In [10]:
print commodities_data.shape
print commodities_data.describe()

(34183, 5)
               Open          High           Low
count  33069.000000  34174.000000  34172.000000
mean    1320.999552   1679.814207   1662.077027
std     3947.127865   4899.826523   4869.308961
min        6.110000      6.180000      6.110000
25%       84.275000     87.050000     85.600000
50%      235.250000    270.000000    261.500000
75%      732.000000    908.375000    879.125000
max    53448.000000  53452.000000  53175.000000

In [11]:
# Currencies
currencies_metadata = pd.read_csv('Currencies_metadata.csv')
currencies_data = pd.read_csv('Currencies_data.csv')

In [14]:
currencies_metadata.head()

          Ticker                SECURITY_NAME CRNCY
0  USDAED_Curncy         US DOLLAR/UAE DIRHAM   AED
1  USDARS_Curncy     US DOLLAR/ARGENTINE PESO   ARS
2  USDAUD_Curncy  US DOLLAR/AUSTRALIAN DOLLAR   AUD
3  USDBHD_Curncy     US DOLLAR/BAHRAINI DINAR   BHD
4  USDBRL_Curncy        US DOLLAR/BRAZIL REAL   BRL

In [13]:
currencies_data.head()

          Ticker        Date    Open    High     Low
0  USDAED_Curncy  2004-09-01  3.6728  3.6749  3.6728
1  USDAED_Curncy  2004-09-02  3.6730  3.6749  3.6728
2  USDAED_Curncy  2004-09-03  3.6731  3.6749  3.6728
3  USDAED_Curncy  2004-09-06  3.6730  3.6732  3.6728
4  USDAED_Curncy  2004-09-07  3.6730  3.6749  3.6728

In [20]:
currencies_data.describe()

                Open           High            Low
count  119429.000000  119435.000000  119428.000000
mean      751.378598     753.070820     749.812488
std      3016.260225    3020.799328    3011.918392
min         0.372000       0.375530       0.363000
25%         2.030800       2.039450       2.023975
50%         6.237300       6.258800       6.220200
75%        44.760000      44.885000      44.670000
max     21353.000000   21360.000000   21310.000000

In [16]:
# Economic Indicators
econ_ind_metadata = pd.read_csv('Economic_Indicators_metadata.csv')
econ_ind_data = pd.read_csv('Economic_Indicators_data_new.csv')

In [17]:
econ_ind_metadata

,Index,Description,Long Description,Source,Frequency,Currency,Quote Units
0,ACRDBT_Index,Australia Credit Card Total Ou,Australia Credit Card Total Outstanding Balance,Reserve Bank of Australia,Monthly,AUD,Millions
1,ACRDTPV_Index,Australia Credit Card Purchase,Australia Credit Card Purchase Transaction Value,Reserve Bank of Australia,Monthly,AUD,Millions
2,ADP_CHNG_Index,ADP National Employment Report,ADP National Employment Report SA Private Nonf...,"Automatic Data Processing""","Inc"",Monthly""",NaN,THOUSANDS
3,AGRPYOY%_Index,USDA Agriculture Prices Receiv,USDA Agriculture Prices Received Total Index YOY%,United States Department of Ag,Monthly,NaN,NaN
4,AHE_MOM%_Index,US Average Hourly Earnings All,US Average Hourly Earnings All Employees Total...,Bureau of Labor Statistics,Monthly,NaN,% CHANGE
5,AHE_YOY%_Index,US Average Hourly Earnings All,US Average Hourly Earnings All Employees Total...,Bureau of Labor Statistics,Monthly,NaN,% CHANGE
6,ARADTOTQ_Index,Argentina Total Real GDP SA Q,Argentina Total Real GDP SA QoQ%,Instituto Nacional de Estadist,Quarterly,NaN,Base = 2004
7,ARBABAL_Index,Argentina Trade Balance Balanc,Argentina Trade Balance Balance,Instituto Nacional de Estadist,Monthly,USD,MILLIONS
8,ARBPCURR_Index,Argentina BOP Current Account,Argentina BOP Current Account Balance,Instituto Nacional de Estadist,Quarterly,USD,MILLIONS
9,ARCCIND_Index,Argentina National Consumer Co,Argentina National Consumer Confidence UTDT,Universidad Torcuato di Tella,Monthly,NaN,NaN
10,ARCOMOM_Index,Argentina Construction Activit,Argentina Construction Activity MoM SA,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
11,ARCOYOY_Index,Argentina Construction Activit,Argentina Construction Activity YoY NSA,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
12,ARCPIMOM_Index,Argentina CPI MoM,Argentina CPI MoM,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
13,ARCPIYOY_Index,Argentina CPI YoY,Argentina CPI YoY,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
14,ARDMSUMM_Index,Argentina Monthly Budget Summa,Argentina Monthly Budget Summary Deficit over ...,Ministerio de Economia y Produ,Monthly,ARS,MILLIONS
15,AREMDEMO_Index,Argentina Economic Activity SA,Argentina Economic Activity SA Index MoM,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
16,AREMORMO_Index,Argentina Economic Activity In,Argentina Economic Activity Index NSA YoY,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
17,ARGQPYOX_Index,Argentina Qtrly GDP at Constan,Argentina Qtrly GDP at Constant 2004 Prices Yo...,Instituto Nacional de Estadist,Quarterly,NaN,% CHANGE
18,ARIPNSYO_Index,Argentina Industrial Productio,Argentina Industrial Production Base 2012 YoY NSA,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
19,ARIPSAMO_Index,Argentina Industrial Productio,Argentina Industrial Production Base 2012 MoM SA,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
20,ARTXTOTL_Index,Argentina Tax Revenue,Argentina Tax Revenue,Ministerio de Economia y Produ,Monthly,ARS,BILLIONS
21,ARVETOTL_Index,Argentina Vehicle Exports,Argentina Vehicle Exports,ADEFA Asociacion de Fabricante,Monthly,NaN,NaN
22,ARVHTOTL_Index,Argentina Vehicle Production,Argentina Vehicle Production,ADEFA Asociacion de Fabricante,Monthly,NaN,NaN
23,ARVSARTL_Index,Argentina Vehicle Sales Domest,Argentina Vehicle Sales Domestic Plus Imports,ADEFA Asociacion de Fabricante,Monthly,NaN,ABSOLUTE
24,ARWPIMOM_Index,Argentina Wholesale Price Inde,Argentina Wholesale Price Index MoM,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
25,ARWPIYOY_Index,Argentina Wholesale Prices Ind,Argentina Wholesale Prices Index YoY,Instituto Nacional de Estadist,Monthly,NaN,% CHANGE
26,AUANCCW_Index,AU ANZ Roy Morgan Consumer Con,AU ANZ Roy Morgan Consumer Confidence Weekly,ANZ Bank,Weekly on Sunday,NaN,NaN
27,AUFRA_Index,Australia Official Reserve Ass,Australia Official Reserve Assets,Reserve Bank of Australia,Monthly,AUD,BILLIONS
28,AURBA$_Index,Australia RBA Commodity AUD,Australia RBA Commodity AUD,Reserve Bank of Australia,Monthly,NaN,NaN
29,AURBSDY%_Index,Australia RBA Commodity Specia,Australia RBA Commodity Special Drawing Rights...,Reserve Bank of Australia,Monthly,NaN,%
...,...,...,...,...,...,...,...
577,UKBFFTIN_Index,Bank of England/TNS Inflation,Bank of England/TNS Inflation Expectation Surv...,Bank of England,Monthly,NaN,NaN
578,UKBRBASE_Index,UK Bank of England Official Ba,UK Bank of England Official Bank Rate,Bank of England,Daily,NaN,% RATIO
579,UKCR_Index,UK Official Reserves Changes i,UK Official Reserves Changes in Net Reserves,HM Treasury,Monthly,USD,MILLIONS
580,UKEGESTG_Index,UK National Institute Of Econo,UK National Institute Of Economic & Social Res...,National Institute of Economic,Monthly,NaN,% CHANGE
581,UKHB3MYR_Index,UK Markit/Halifax House Prices,UK Markit/Halifax House Prices 3 Mth YoY,Markit / Halifax,Monthly,NaN,% CHANGE
582,UKHBSAMM_Index,UK Markit/Halifax House Prices,UK Markit/Halifax House Prices All UK MoM SA,Markit / Halifax,Monthly,NaN,% CHANGE
583,UKMS4QG_Index,M4 ex intermediate OFCs 3Month,M4 ex intermediate OFCs 3Month Annualised Grow...,Bank of England,Monthly,NaN,% CHANGE
584,UKMSB3PS_Index,UK Consumer Credit Supplied (E,UK Consumer Credit Supplied (Ex SLC) SA,Bank of England,Monthly,GBP,Billions
585,UKMSM41M_Index,UK Money Supply M4 MoM SA,UK Money Supply M4 MoM SA,Bank of England,Monthly,NaN,% CHANGE
586,UKMSM41Y_Index,UK Money Supply M4 YoY SA,UK Money Supply M4 YoY SA,Bank of England,Monthly,NaN,% CHANGE
587,UKMSVTVJ_Index,UK Lending to Individuals Net,UK Lending to Individuals Net Lending Secured ...,Bank of England,Monthly,GBP,BILLIONS
588,UKMSVTVX_Index,Bank of England UK Mortgage Ap,Bank of England UK Mortgage Approvals,Bank of England,Monthly,NaN,THOUSANDS
589,UKNBAAMM_Index,UK Nationwide House Price All,UK Nationwide House Price All Houses MoM SA,Nationwide Building Society,Monthly,NaN,% CHANGE
590,UKNBANYY_Index,UK Nationwide House Prices All,UK Nationwide House Prices All Houses YoY NSA,Nationwide Building Society,Monthly,NaN,% CHANGE
591,UKRMNAPM_Index,UK Rightmove National Asking P,UK Rightmove National Asking Price MoM NSA,Rightmove,Monthly,NaN,% CHANGE
592,UKRMNAPY_Index,UK Rightmove National Asking P,UK Rightmove National Asking Price YoY NSA,Rightmove,Monthly,NaN,% CHANGE
593,UKVHRYY_Index,UK New Car Registrations YoY,UK New Car Registrations YoY,Society of Motor Manufacturers,Monthly,NaN,% CHANGE
594,UMRTEMU_Index,Eurostat Unemployment Eurozone,Eurostat Unemployment Eurozone SA,Eurostat,Monthly,NaN,%
595,USCABAL_Index,US Nominal Account Balance In,US Nominal Account Balance In Billions of USD,Bureau of Economic Analysis,Quarterly,USD,BILLIONS
596,USEMNCHG_Index,US Employment Total in Labor F,US Employment Total in Labor Force Net Change SA,Bureau of Labor Statistics,Monthly,NaN,Thousand
597,USHBMIDX_Index,National Association of Home B,National Association of Home Builders Market I...,National Association of Home B,Monthly,NaN,NaN
598,USMMMNCH_Index,US Employees on Nonfarm Payrol,US Employees on Nonfarm Payrolls Manufacturing...,Bureau of Labor Statistics,Monthly,NaN,Thousand
599,USPHTMOM_Index,US Pending Home Sales Index Mo,US Pending Home Sales Index MoM SA,National Assoc. of Realtors,Monthly,NaN,% CHANGE
600,USPHTYOY_Index,US Pending Home Sales Index Yo,US Pending Home Sales Index YoY NSA,National Assoc. of Realtors,Monthly,NaN,% Change
601,USTBTOT_Index,US Trade Balance of Goods and,US Trade Balance of Goods and Services SA,U.S. Census Bureau,Monthly,USD,Billions
602,USUDMAER_Index,US U-6 Unemployed & Part Time,US U-6 Unemployed & Part Time & Margin % Labor...,Bureau of Labor Statistics,Monthly,NaN,% SA
603,USURTOT_Index,U-3 US Unemployment Rate Total,U-3 US Unemployment Rate Total in Labor Force ...,Bureau of Labor Statistics,Monthly,NaN,%
604,WCAR25_Y_Index,Europe EU 27 New Passenger Car,Europe EU 27 New Passenger Car Registrations YoY,ACEA,Monthly,NaN,% CHANGE
605,XTSBEZ_Index,Eurozone Trade Balance with No,Eurozone Trade Balance with Non Eurozone Count...,Eurostat,Monthly,EUR,MILLIONS
606,XTTBEZ_Index,Eurozone Trade Balance with No,Eurozone Trade Balance with Non Eurozone Count...,Eurostat,Monthly,EUR,MILLIONS

In [18]:
econ_ind_data.head()

         Ticker        Date  Value
0  ACRDBT_Index   9/30/2004  28006
1  ACRDBT_Index  10/31/2004  28216
2  ACRDBT_Index  11/30/2004  28789
3  ACRDBT_Index  12/31/2004  30286
4  ACRDBT_Index   1/31/2005  29400

In [19]:
econ_ind_data.describe()

                Ticker       Date   Value
count           106188     106188  106188
unique             601       3468   27769
top     SLGTHOGS_Index  9/30/2011       0
freq              2894        551    2834

In [22]:
# Precious Metals
precious_metals_metadata = pd.read_csv('Precious_Metals_metadata.csv')
precious_metals_data = pd.read_csv('Precious_Metals_data.csv')

In [23]:
precious_metals_metadata

,Ticker,Description,Long Description,Quote Units
0,001.046_Index,IMF World Reserve Gold Holding,IMF World Reserve Gold Holdings,Mil Fine Troy Oz
1,111.046_Index,IMF US Reserve Gold Holdings,IMF US Reserve Gold Holdings,Mil Fine Troy Oz
2,132.046_Index,IMF France Reserve Gold Holdin,IMF France Reserve Gold Holdings,Mil Fine Troy Oz
3,134.046_Index,IMF Germany Reserve Gold Holdi,IMF Germany Reserve Gold Holdings,Mil Fine Troy Oz
4,136.046_Index,IMF Italy Reserve Gold Holding,IMF Italy Reserve Gold Holdings,Mil Fine Troy Oz
5,138.046_Index,IMF Netherland Reserve Gold Ho,IMF Netherland Reserve Gold Holdings,Mil Fine Troy Oz
6,146.046_Index,IMF Switzerland Reserve Gold H,IMF Switzerland Reserve Gold Holdings,Mil Fine Troy Oz
7,158.046_Index,IMF Japan Reserve Gold Holding,IMF Japan Reserve Gold Holdings,Mil Fine Troy Oz
8,163.046_Index,IMF Euro Area Reserve Gold Hol,IMF Euro Area Reserve Gold Holdings,Mil Fine Troy Oz
9,193.046_Index,IMF Australia Reserve Gold Hol,IMF Australia Reserve Gold Holdings,Mil Fine Troy Oz
10,299.046_Index,IMF Venezuela Reserve Gold Hol,IMF Venezuela Reserve Gold Holdings,Mil Fine Troy Oz
11,534.046_Index,IMF India Reserve Gold Holding,IMF India Reserve Gold Holdings,Mil Fine Troy Oz
12,566.046_Index,IMF Philippines Reserve Gold H,IMF Philippines Reserve Gold Holdings,Mil Fine Troy Oz
13,578.046_Index,IMF Thailand Reserve Gold Hold,IMF Thailand Reserve Gold Holdings,Mil Fine Troy Oz
14,XAG_BGN_Curncy,Silver Spot $/Oz,XAGUSD Spot Exchange Rate - Price of 1 XAG in USD,#N/A Field Not Applicable
15,XAU_BGN_Curncy,Gold Spot $/Oz,XAUUSD Spot Exchange Rate - Price of 1 XAU in USD,#N/A Field Not Applicable
16,XPT_BGN_Curncy,Platinum Spot $/Oz,XPTUSD Spot Exchange Rate - Price of 1 XPT in USD,#N/A Field Not Applicable

In [24]:
precious_metals_data.describe()

             Quote
count  9501.000000
mean    694.970673
std     654.403361
min       2.564000
25%      19.979500
50%     640.500000
75%    1312.920000
max    2250.500000